body {
	position:fixed;
	background: #ffffb3;
}

.colors{
	position: fixed;
	transform: translate(-50%, 50%);
	width:70px;
	height:70px;
	border-radius:50%;
	border:1px solid black;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background-color: white;
}

#c1{
	bottom:75%;
	left:20%;
}
#c2{
	bottom:75%;
	left:50%;
}

#c3{
	bottom:75%;
	left:80%;
}

#c4{
	bottom:45%;
	left:20%;
}

#c5{
	bottom:45%;
	left:50%;
}

#c6{
	bottom:45%;
	left:80%;
}

#c7{
	bottom:15%;
	left:20%;
}

#c8{
	bottom:15%;
	left:50%;
}

#c9{
	bottom:15%;
	left:80%;
}

#c10{
	bottom:15%;
	left:20%;
	display:none;
	width:60px;
	height:60px;
	
}

#c11{
	bottom:15%;
	left:40%;
	display:none;
	width:60px;
	height:60px;
}

#c12{
	bottom:15%;
	left:60%;
	display:none;
	width:60px;
	height:60px;
}

#c13{
	bottom:15%;
	left:80%;
	display:none;
	width:60px;
	height:60px;
}

#c14{
	bottom:35%;
	left:80%;
	display:none;
	width:60px;
	height:60px;
}

#c15{
	bottom:55%;
	left:80%;
	width:60px;
	display:none;
	height:60px;
}

#c16{
	bottom:75%;
	left:80%;
	display:none;
	width:60px;
	height:60px;
}
.textes{
	font-family: "Verdana", Times, serif;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 50%);
	color: black;
	width:100%;
	text-align:center;
		
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
}

#header{
	bottom: 93%;
	font-weight:bold;
	font-size: 31px;
}

#footer{
	bottom: 87%;
	font-weight:bold;
	font-size: 20px;
	color:red;
}